
.assets-list
  width 100%
  height 100%
  overflow-y auto
  .assets-list-item
    width 100%

  &.collection-mode
    .assets-list-item
      cursor pointer
      width 22%
      float left
      margin 5px
      word-wrap break-word
      text-align center
