@import variables

.mime-type {
    background-image: url(mimetypes-image);
    background-repeat: no-repeat;
    display: block;
}

.mime-application-pdf {
    width: 96px;
    height: 96px;
    background-position: -5px -5px;
}

.mime-application-text {
    width: 96px;
    height: 96px;
    background-position: -111px -5px;
}

.mime-application-vnd-ms-excel {
    width: 96px;
    height: 96px;
    background-position: -217px -5px;
}

.mime-application-x-gzip {
    width: 96px;
    height: 96px;
    background-position: -323px -5px;
}

.mime-application-x-javascript {
    width: 96px;
    height: 96px;
    background-position: -5px -111px;
}

.mime-application-x-tar {
    width: 96px;
    height: 96px;
    background-position: -111px -111px;
}

.mime-application-xml {
    width: 96px;
    height: 96px;
    background-position: -217px -111px;
}

.mime-application-zip {
    width: 96px;
    height: 96px;
    background-position: -323px -111px;
}

.mime-audio-generic {
    width: 96px;
    height: 96px;
    background-position: -5px -217px;
}

.mime-binary {
    width: 96px;
    height: 96px;
    background-position: -111px -217px;
}

.mime-document {
    width: 96px;
    height: 96px;
    background-position: -217px -217px;
}

.mime-text-x-sql {
    width: 96px;
    height: 96px;
    background-position: -323px -217px;
}

.mime-unknown {
    width: 96px;
    height: 96px;
    background-position: -5px -323px;
}

.mime-video-generic {
    width: 96px;
    height: 96px;
    background-position: -111px -323px;
}

.mime-www {
    width: 96px;
    height: 96px;
    background-position: -217px -323px;
}

.mime-x-office-document {
    width: 96px;
    height: 96px;
    background-position: -323px -323px;
}

.mime-x-office-drawing {
    width: 96px;
    height: 96px;
    background-position: -429px -5px;
}

.mime-x-office-presentation {
    width: 96px;
    height: 96px;
    background-position: -429px -111px;
}

.mime-x-office-spreadsheet {
    width: 96px;
    height: 96px;
    background-position: -429px -217px;
}
