
.mime {
  background-image: url('../images/assets-mimetypes.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mime {
    background-image: url('../images/assets-mimetypes@2x.png');
    background-size: 52px 11908px;
  }
}

.mime-image-bmp {
  background-position: -0px -0px;
  width: 52px;
  height: 52px;
}
.mime-application-x-7zip {
  background-position: -0px -52px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -104px;
  width: 52px;
  height: 52px;
}
.mime-text-x-javascript {
  background-position: -0px -156px;
  width: 52px;
  height: 52px;
}
.mime-message {
  background-position: -0px -208px;
  width: 52px;
  height: 52px;
}
.mime-application-msword {
  background-position: -0px -260px;
  width: 52px;
  height: 52px;
}
.mime-multipart-encrypted {
  background-position: -0px -312px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-vorbis+ogg {
  background-position: -0px -364px;
  width: 52px;
  height: 52px;
}
.mime-application-pdf {
  background-position: -0px -416px;
  width: 52px;
  height: 52px;
}
.mime-encrypted {
  background-position: -0px -468px;
  width: 52px;
  height: 52px;
}
.mime-application-pgp-keys {
  background-position: -0px -520px;
  width: 52px;
  height: 52px;
}
.mime-application-pgp-keys {
  background-position: -0px -572px;
  width: 52px;
  height: 52px;
}
.mime-application-rss+xml {
  background-position: -0px -624px;
  width: 52px;
  height: 52px;
}
.mime-text-richtext {
  background-position: -0px -676px;
  width: 52px;
  height: 52px;
}
.mime-text-plain {
  background-position: -0px -728px;
  width: 52px;
  height: 52px;
}
.mime-text-x-sql {
  background-position: -0px -780px;
  width: 52px;
  height: 52px;
}
.mime-application-vnd {
  background-position: -0px -832px;
  width: 52px;
  height: 52px;
}
.mime-application-vnd {
  background-position: -0px -884px;
  width: 52px;
  height: 52px;
}
.mime-text-x-sql {
  background-position: -0px -936px;
  width: 52px;
  height: 52px;
}
.mime-application-vnd {
  background-position: -0px -988px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -1040px;
  width: 52px;
  height: 52px;
}
.mime-x-office-spreadsheet {
  background-position: -0px -1092px;
  width: 52px;
  height: 52px;
}
.mime-text-html {
  background-position: -0px -1144px;
  width: 52px;
  height: 52px;
}
.mime-x-office-document {
  background-position: -0px -1196px;
  width: 52px;
  height: 52px;
}
.mime-application-vnd {
  background-position: -0px -1248px;
  width: 52px;
  height: 52px;
}
.mime-application-vnd {
  background-position: -0px -1300px;
  width: 52px;
  height: 52px;
}
.mime-application-vnd {
  background-position: -0px -1352px;
  width: 52px;
  height: 52px;
}
.mime-application-msword {
  background-position: -0px -1404px;
  width: 52px;
  height: 52px;
}
.mime-video-x-generic {
  background-position: -0px -1456px;
  width: 52px;
  height: 52px;
}
.mime-application-vnd {
  background-position: -0px -1508px;
  width: 52px;
  height: 52px;
}
.mime-x-office-spreadsheet {
  background-position: -0px -1560px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -1612px;
  width: 52px;
  height: 52px;
}
.mime-x-office-document {
  background-position: -0px -1664px;
  width: 52px;
  height: 52px;
}
.mime-x-office-document {
  background-position: -0px -1716px;
  width: 52px;
  height: 52px;
}
.mime-application-x-7zip {
  background-position: -0px -1768px;
  width: 52px;
  height: 52px;
}
.mime-application-x-7zip {
  background-position: -0px -1820px;
  width: 52px;
  height: 52px;
}
.mime-application-x-ace {
  background-position: -0px -1872px;
  width: 52px;
  height: 52px;
}
.mime-application-x-tar {
  background-position: -0px -1924px;
  width: 52px;
  height: 52px;
}
.mime-application-x-tar {
  background-position: -0px -1976px;
  width: 52px;
  height: 52px;
}
.mime-application-x-bittorrent {
  background-position: -0px -2028px;
  width: 52px;
  height: 52px;
}
.mime-application-x-cd-image {
  background-position: -0px -2080px;
  width: 52px;
  height: 52px;
}
.mime-text-x-java {
  background-position: -0px -2132px;
  width: 52px;
  height: 52px;
}
.mime-application-x-tar {
  background-position: -0px -2184px;
  width: 52px;
  height: 52px;
}
.mime-application-x-gzip {
  background-position: -0px -2236px;
  width: 52px;
  height: 52px;
}
.mime-application-x-sln {
  background-position: -0px -2288px;
  width: 52px;
  height: 52px;
}
.mime-application-x-cue {
  background-position: -0px -2340px;
  width: 52px;
  height: 52px;
}
.mime-deb {
  background-position: -0px -2392px;
  width: 52px;
  height: 52px;
}
.mime-application-x-glade {
  background-position: -0px -2444px;
  width: 52px;
  height: 52px;
}
.mime-application-x-theme {
  background-position: -0px -2496px;
  width: 52px;
  height: 52px;
}
.mime-application-x-executable {
  background-position: -0px -2548px;
  width: 52px;
  height: 52px;
}
.mime-text-html {
  background-position: -0px -2600px;
  width: 52px;
  height: 52px;
}
.mime-application-x-flash-video {
  background-position: -0px -2652px;
  width: 52px;
  height: 52px;
}
.mime-application-x-glade {
  background-position: -0px -2704px;
  width: 52px;
  height: 52px;
}
.mime-application-x-theme {
  background-position: -0px -2756px;
  width: 52px;
  height: 52px;
}
.mime-x-office-spreadsheet {
  background-position: -0px -2808px;
  width: 52px;
  height: 52px;
}
.mime-application-x-gzip {
  background-position: -0px -2860px;
  width: 52px;
  height: 52px;
}
.mime-application-x-jar {
  background-position: -0px -2912px;
  width: 52px;
  height: 52px;
}
.mime-application-x-jar {
  background-position: -0px -2964px;
  width: 52px;
  height: 52px;
}
.mime-text-x-java {
  background-position: -0px -3016px;
  width: 52px;
  height: 52px;
}
.mime-text-x-javascript {
  background-position: -0px -3068px;
  width: 52px;
  height: 52px;
}
.mime-application-pgp-keys {
  background-position: -0px -3120px;
  width: 52px;
  height: 52px;
}
.mime-application-x-tar {
  background-position: -0px -3172px;
  width: 52px;
  height: 52px;
}
.mime-application-x-tar {
  background-position: -0px -3224px;
  width: 52px;
  height: 52px;
}
.mime-text-richtext {
  background-position: -0px -3276px;
  width: 52px;
  height: 52px;
}
.mime-video-x-generic {
  background-position: -0px -3328px;
  width: 52px;
  height: 52px;
}
.mime-application-x-ms-dos-executable {
  background-position: -0px -3380px;
  width: 52px;
  height: 52px;
}
.mime-application-x-msdownload {
  background-position: -0px -3432px;
  width: 52px;
  height: 52px;
}
.mime-multipart-encrypted {
  background-position: -0px -3484px;
  width: 52px;
  height: 52px;
}
.mime-package-x-generic {
  background-position: -0px -3536px;
  width: 52px;
  height: 52px;
}
.mime-application-pgp-keys {
  background-position: -0px -3588px;
  width: 52px;
  height: 52px;
}
.mime-application-x-php {
  background-position: -0px -3640px;
  width: 52px;
  height: 52px;
}
.mime-text-x-python {
  background-position: -0px -3692px;
  width: 52px;
  height: 52px;
}
.mime-application-x-rar {
  background-position: -0px -3744px;
  width: 52px;
  height: 52px;
}
.mime-rpm {
  background-position: -0px -3796px;
  width: 52px;
  height: 52px;
}
.mime-application-x-ruby {
  background-position: -0px -3848px;
  width: 52px;
  height: 52px;
}
.mime-application-vnd {
  background-position: -0px -3900px;
  width: 52px;
  height: 52px;
}
.mime-text-x-script {
  background-position: -0px -3952px;
  width: 52px;
  height: 52px;
}
.mime-application-x-flash-video {
  background-position: -0px -4004px;
  width: 52px;
  height: 52px;
}
.mime-application-x-sln {
  background-position: -0px -4056px;
  width: 52px;
  height: 52px;
}
.mime-text-x-sql {
  background-position: -0px -4108px;
  width: 52px;
  height: 52px;
}
.mime-text-x-sql {
  background-position: -0px -4160px;
  width: 52px;
  height: 52px;
}
.mime-application-x-tar {
  background-position: -0px -4212px;
  width: 52px;
  height: 52px;
}
.mime-application-x-theme {
  background-position: -0px -4264px;
  width: 52px;
  height: 52px;
}
.mime-text-x-bak {
  background-position: -0px -4316px;
  width: 52px;
  height: 52px;
}
.mime-application-x-zip {
  background-position: -0px -4368px;
  width: 52px;
  height: 52px;
}
.mime-text-xml {
  background-position: -0px -4420px;
  width: 52px;
  height: 52px;
}
.mime-application-x-zip {
  background-position: -0px -4472px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-mpeg {
  background-position: -0px -4524px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-wav {
  background-position: -0px -4576px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-vorbis+ogg {
  background-position: -0px -4628px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-generic {
  background-position: -0px -4680px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-mp3-playlist {
  background-position: -0px -4732px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-mpeg {
  background-position: -0px -4784px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-mp3-playlist {
  background-position: -0px -4836px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-ms-wma {
  background-position: -0px -4888px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-mp3-playlist {
  background-position: -0px -4940px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-vorbis+ogg {
  background-position: -0px -4992px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-vorbis+ogg {
  background-position: -0px -5044px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-wav {
  background-position: -0px -5096px;
  width: 52px;
  height: 52px;
}
.mime-authors {
  background-position: -0px -5148px;
  width: 52px;
  height: 52px;
}
.mime-application-x-executable {
  background-position: -0px -5200px;
  width: 52px;
  height: 52px;
}
.mime-deb {
  background-position: -0px -5252px;
  width: 52px;
  height: 52px;
}
.mime-text-richtext {
  background-position: -0px -5304px;
  width: 52px;
  height: 52px;
}
.mime-empty {
  background-position: -0px -5356px;
  width: 52px;
  height: 52px;
}
.mime-encrypted {
  background-position: -0px -5408px;
  width: 52px;
  height: 52px;
}
.mime-application-x-executable {
  background-position: -0px -5460px;
  width: 52px;
  height: 52px;
}
.mime-extension {
  background-position: -0px -5512px;
  width: 52px;
  height: 52px;
}
.mime-application-x-tar {
  background-position: -0px -5564px;
  width: 52px;
  height: 52px;
}
.mime-font-x-generic {
  background-position: -0px -5616px;
  width: 52px;
  height: 52px;
}
.mime-font-x-generic {
  background-position: -0px -5668px;
  width: 52px;
  height: 52px;
}
.mime-font-x-generic {
  background-position: -0px -5720px;
  width: 52px;
  height: 52px;
}
.mime-font-x-generic {
  background-position: -0px -5772px;
  width: 52px;
  height: 52px;
}
.mime-font-x-generic {
  background-position: -0px -5824px;
  width: 52px;
  height: 52px;
}
.mime-text-html {
  background-position: -0px -5876px;
  width: 52px;
  height: 52px;
}
.mime-application-rss+xml {
  background-position: -0px -5928px;
  width: 52px;
  height: 52px;
}
.mime-image-gif {
  background-position: -0px -5980px;
  width: 52px;
  height: 52px;
}
.mime-image-jpeg {
  background-position: -0px -6032px;
  width: 52px;
  height: 52px;
}
.mime-image-jpeg {
  background-position: -0px -6084px;
  width: 52px;
  height: 52px;
}
.mime-image-png {
  background-position: -0px -6136px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -6188px;
  width: 52px;
  height: 52px;
}
.mime-image-tiff {
  background-position: -0px -6240px;
  width: 52px;
  height: 52px;
}
.mime-image-x-ico {
  background-position: -0px -6292px;
  width: 52px;
  height: 52px;
}
.mime-image-x-eps {
  background-position: -0px -6344px;
  width: 52px;
  height: 52px;
}
.mime-image-x-generic {
  background-position: -0px -6396px;
  width: 52px;
  height: 52px;
}
.mime-image-x-ico {
  background-position: -0px -6448px;
  width: 52px;
  height: 52px;
}
.mime-image-x-ico {
  background-position: -0px -6500px;
  width: 52px;
  height: 52px;
}
.mime-image-bmp {
  background-position: -0px -6552px;
  width: 52px;
  height: 52px;
}
.mime-image-x-psd {
  background-position: -0px -6604px;
  width: 52px;
  height: 52px;
}
.mime-image-x-psd {
  background-position: -0px -6656px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -6708px;
  width: 52px;
  height: 52px;
}
.mime-image-x-generic {
  background-position: -0px -6760px;
  width: 52px;
  height: 52px;
}
.mime-image-bmp {
  background-position: -0px -6812px;
  width: 52px;
  height: 52px;
}
.mime-image-x-xcf {
  background-position: -0px -6864px;
  width: 52px;
  height: 52px;
}
.mime-image-x-generic {
  background-position: -0px -6916px;
  width: 52px;
  height: 52px;
}
.mime-image-jpeg {
  background-position: -0px -6968px;
  width: 52px;
  height: 52px;
}
.mime-image-jpeg {
  background-position: -0px -7020px;
  width: 52px;
  height: 52px;
}
.mime-x-office-presentation {
  background-position: -0px -7072px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-generic {
  background-position: -0px -7124px;
  width: 52px;
  height: 52px;
}
.mime-image-x-generic {
  background-position: -0px -7176px;
  width: 52px;
  height: 52px;
}
.mime-video-x-generic {
  background-position: -0px -7228px;
  width: 52px;
  height: 52px;
}
.mime-message {
  background-position: -0px -7280px;
  width: 52px;
  height: 52px;
}
.mime-message {
  background-position: -0px -7332px;
  width: 52px;
  height: 52px;
}
.mime-text-plain {
  background-position: -0px -7384px;
  width: 52px;
  height: 52px;
}
.mime-multipart-encrypted {
  background-position: -0px -7436px;
  width: 52px;
  height: 52px;
}
.mime-unknown {
  background-position: -0px -7488px;
  width: 52px;
  height: 52px;
}
.mime-x-office-document {
  background-position: -0px -7540px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -7592px;
  width: 52px;
  height: 52px;
}
.mime-x-office-spreadsheet {
  background-position: -0px -7644px;
  width: 52px;
  height: 52px;
}
.mime-text-x-sql {
  background-position: -0px -7696px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -7748px;
  width: 52px;
  height: 52px;
}
.mime-extension {
  background-position: -0px -7800px;
  width: 52px;
  height: 52px;
}
.mime-text-x-sql {
  background-position: -0px -7852px;
  width: 52px;
  height: 52px;
}
.mime-x-office-spreadsheet {
  background-position: -0px -7904px;
  width: 52px;
  height: 52px;
}
.mime-opera-extension {
  background-position: -0px -7956px;
  width: 52px;
  height: 52px;
}
.mime-opera-unite-application {
  background-position: -0px -8008px;
  width: 52px;
  height: 52px;
}
.mime-opera-widget {
  background-position: -0px -8060px;
  width: 52px;
  height: 52px;
}
.mime-package-x-generic {
  background-position: -0px -8112px;
  width: 52px;
  height: 52px;
}
.mime-package-x-generic {
  background-position: -0px -8164px;
  width: 52px;
  height: 52px;
}
.mime-text-plain {
  background-position: -0px -8216px;
  width: 52px;
  height: 52px;
}
.mime-x-office-document {
  background-position: -0px -8268px;
  width: 52px;
  height: 52px;
}
.mime-application-pdf {
  background-position: -0px -8320px;
  width: 52px;
  height: 52px;
}
.mime-phatch-actionlist {
  background-position: -0px -8372px;
  width: 52px;
  height: 52px;
}
.mime-text-x-makefile {
  background-position: -0px -8424px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-mp3-playlist {
  background-position: -0px -8476px;
  width: 52px;
  height: 52px;
}
.mime-rpm {
  background-position: -0px -8528px;
  width: 52px;
  height: 52px;
}
.mime-text-x-script {
  background-position: -0px -8580px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-generic {
  background-position: -0px -8632px;
  width: 52px;
  height: 52px;
}
.mime-audio-x-mp3-playlist {
  background-position: -0px -8684px;
  width: 52px;
  height: 52px;
}
.mime-text-x-makefile {
  background-position: -0px -8736px;
  width: 52px;
  height: 52px;
}
.mime-x-office-spreadsheet {
  background-position: -0px -8788px;
  width: 52px;
  height: 52px;
}
.mime-x-office-address-book {
  background-position: -0px -8840px;
  width: 52px;
  height: 52px;
}
.mime-vcalendar {
  background-position: -0px -8892px;
  width: 52px;
  height: 52px;
}
.mime-text-x-source {
  background-position: -0px -8944px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -8996px;
  width: 52px;
  height: 52px;
}
.mime-application-x-tar {
  background-position: -0px -9048px;
  width: 52px;
  height: 52px;
}
.mime-text-x-generic-template {
  background-position: -0px -9100px;
  width: 52px;
  height: 52px;
}
.mime-text-css {
  background-position: -0px -9152px;
  width: 52px;
  height: 52px;
}
.mime-text-richtext {
  background-position: -0px -9204px;
  width: 52px;
  height: 52px;
}
.mime-text-html {
  background-position: -0px -9256px;
  width: 52px;
  height: 52px;
}
.mime-text-html {
  background-position: -0px -9308px;
  width: 52px;
  height: 52px;
}
.mime-text-html {
  background-position: -0px -9360px;
  width: 52px;
  height: 52px;
}
.mime-text-plain {
  background-position: -0px -9412px;
  width: 52px;
  height: 52px;
}
.mime-text-richtext {
  background-position: -0px -9464px;
  width: 52px;
  height: 52px;
}
.mime-x-office-spreadsheet {
  background-position: -0px -9516px;
  width: 52px;
  height: 52px;
}
.mime-authors {
  background-position: -0px -9568px;
  width: 52px;
  height: 52px;
}
.mime-text-x-bak {
  background-position: -0px -9620px;
  width: 52px;
  height: 52px;
}
.mime-text-x-bibtex {
  background-position: -0px -9672px;
  width: 52px;
  height: 52px;
}
.mime-text-x-c++ {
  background-position: -0px -9724px;
  width: 52px;
  height: 52px;
}
.mime-text-x-c++hdr {
  background-position: -0px -9776px;
  width: 52px;
  height: 52px;
}
.mime-text-x-c++ {
  background-position: -0px -9828px;
  width: 52px;
  height: 52px;
}
.mime-text-x-c {
  background-position: -0px -9880px;
  width: 52px;
  height: 52px;
}
.mime-text-x-changelog {
  background-position: -0px -9932px;
  width: 52px;
  height: 52px;
}
.mime-text-x-chdr {
  background-position: -0px -9984px;
  width: 52px;
  height: 52px;
}
.mime-text-x-copying {
  background-position: -0px -10036px;
  width: 52px;
  height: 52px;
}
.mime-authors {
  background-position: -0px -10088px;
  width: 52px;
  height: 52px;
}
.mime-text-x-c {
  background-position: -0px -10140px;
  width: 52px;
  height: 52px;
}
.mime-text-css {
  background-position: -0px -10192px;
  width: 52px;
  height: 52px;
}
.mime-text-x-generic-template {
  background-position: -0px -10244px;
  width: 52px;
  height: 52px;
}
.mime-text-plain {
  background-position: -0px -10296px;
  width: 52px;
  height: 52px;
}
.mime-text-x-install {
  background-position: -0px -10348px;
  width: 52px;
  height: 52px;
}
.mime-text-x-java {
  background-position: -0px -10400px;
  width: 52px;
  height: 52px;
}
.mime-text-x-java {
  background-position: -0px -10452px;
  width: 52px;
  height: 52px;
}
.mime-text-x-javascript {
  background-position: -0px -10504px;
  width: 52px;
  height: 52px;
}
.mime-text-x-makefile {
  background-position: -0px -10556px;
  width: 52px;
  height: 52px;
}
.mime-empty {
  background-position: -0px -10608px;
  width: 52px;
  height: 52px;
}
.mime-text-x-python {
  background-position: -0px -10660px;
  width: 52px;
  height: 52px;
}
.mime-text-x-readme {
  background-position: -0px -10712px;
  width: 52px;
  height: 52px;
}
.mime-text-x-script {
  background-position: -0px -10764px;
  width: 52px;
  height: 52px;
}
.mime-text-x-source {
  background-position: -0px -10816px;
  width: 52px;
  height: 52px;
}
.mime-text-x-sql {
  background-position: -0px -10868px;
  width: 52px;
  height: 52px;
}
.mime-text-x-tex {
  background-position: -0px -10920px;
  width: 52px;
  height: 52px;
}
.mime-text-xhtml+xml {
  background-position: -0px -10972px;
  width: 52px;
  height: 52px;
}
.mime-text-xml {
  background-position: -0px -11024px;
  width: 52px;
  height: 52px;
}
.mime-text-plain {
  background-position: -0px -11076px;
  width: 52px;
  height: 52px;
}
.mime-text-plain {
  background-position: -0px -11128px;
  width: 52px;
  height: 52px;
}
.mime-unknown {
  background-position: -0px -11180px;
  width: 52px;
  height: 52px;
}
.mime-vcalendar {
  background-position: -0px -11232px;
  width: 52px;
  height: 52px;
}
.mime-video-x-generic {
  background-position: -0px -11284px;
  width: 52px;
  height: 52px;
}
.mime-video-x-generic {
  background-position: -0px -11336px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -11388px;
  width: 52px;
  height: 52px;
}
.mime-x-office-document {
  background-position: -0px -11440px;
  width: 52px;
  height: 52px;
}
.mime-text-html {
  background-position: -0px -11492px;
  width: 52px;
  height: 52px;
}
.mime-x-dia-diagram {
  background-position: -0px -11544px;
  width: 52px;
  height: 52px;
}
.mime-x-office-address-book {
  background-position: -0px -11596px;
  width: 52px;
  height: 52px;
}
.mime-x-office-document {
  background-position: -0px -11648px;
  width: 52px;
  height: 52px;
}
.mime-x-office-drawing {
  background-position: -0px -11700px;
  width: 52px;
  height: 52px;
}
.mime-x-office-presentation {
  background-position: -0px -11752px;
  width: 52px;
  height: 52px;
}
.mime-x-office-spreadsheet {
  background-position: -0px -11804px;
  width: 52px;
  height: 52px;
}
.mime-application-x-zip {
  background-position: -0px -11856px;
  width: 52px;
  height: 52px;
}
