
.assets-gallery
 .gallery-upload
    margin-top: 10px

.assets-button
    border 1px solid #ccc;
    background-color: #eee;
    border-radius 5px
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: background-color
    &:hover
        background-color: darken(#eee, 10%)
    &:active
        background-color: darken(#eee, 20%)
        box-shadow: inset 1px 1px 1px #000
        
.assets-list
  border-right 1px solid #eee
  
  .assets-list-empty-view 
    width: 100%
    text-align: center
    margin-top: 20px
  
  .assets-list-item
    width 100%
  &.collection-mode
    .assets-list-item
      transition-duration: 0.6s
      transition-property: all;
      position relative
      box-sizing border-box
      cursor pointer
      width 96px
      height 110px
      padding 5px
      float left
      //margin 5px
      word-wrap break-word
      text-align center

      .thumbnail-container
        width: 100%
        height: 66px
      img
        max-width: 100%
        height: 80%
        //max-width 86px
        //max-height 66px
      &:hover
        background-color: lighten(#eee, 20%)
      &.active
        background-color: #eee
      .name
        margin-top 5px
        color: #999
        


.assets-preview
  padding 10px
  width: 100%
  height 100%
  overflow-y auto
  .preview
    width 100%
    text-align center
    img, video, audio
      max-width 100%
      max-height 250px

  .info
    font-size 1.0rem
    table-layout: fixed;
    width 100%
    td:first-child
      font-weight bold
      vertical-align baseline
    td:last-child
      word-wrap break-word
