doctype html
html
  head
    link(href="/assets.gallery.css", rel="stylesheet")
    script(src="/assets.gallery.js")
    style.
      .gallery {
        font-family: 'HelveticaNeue';
        width: 700px;
        height: 300px;
      }
      .gallery-list {
        width: 55%;
        height: 100%;
        float: left;
      }
      .gallery-preview {
        width: 45%;
        height: 100%;
        float:left;
      }
      .assets-list-item {
        font-size: 11px;
        font-weight: 500;
      }

  body
    h3 Assets-Browser
    #container

    script(src="./main.js")
